body{
    background-color: #f5f0ec;
}
p{
    padding: 0px;
    margin: 0px;
}
.banner{
    padding: 125px 50px;
    img{
        width: 100%;
    }
    &__image{
        margin-bottom: 80px;
    }
    &__heading{
        font-size: 18px;
    }
    &__link{
        font-size: 13px;
        text-decoration: none;
        color: #222;
    }
    &__link:hover{
        text-decoration: none;
        color: #c9c4c2;
    }
    &__btn-signup{
        border: 1.5px solid #cbada3;
        font-size: 15px;
        padding: 13px 40px;
        background-color: #f5f0ec;
        color: #cda99d;
    }
    &__btn-signup:hover{
        background-color: #cbada3;
        color: #222;
    }
    &__email{
        border: 1px solid #e2e1df;
        font-size: 15px;
        padding: 15px 20px;
        width: 250px;
    }
}