@include('../partials//head.html')
<div class="wrapper">
    <main>
        <div class="banner">
            <div class="banner__image row">
                <a href="" class="col-6 col-md-3"><img src="images/img1.jpg" alt=""></a>
                <a href="" class="col-6 col-md-3"><img src="images/img2.jpg" alt=""></a>
                <a href="" class="col-6 col-md-3"><img src="images/img3.jpg" alt=""></a>
                <a href="" class="col-6 col-md-3"><img src="images/img4.jpg" alt=""></a>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-6 row">
                    <div class="col-md-7 col-sm-12 mb-5">
                        <p class="banner__heading mb-2">INFO</p>
                        <a href="" class="banner__link">TERM AND CONDITIONS</a>
                    </div>
                    <div class="col-md-5 col-sm-12 mb-5">
                        <p><a href="" class="banner__link">CONTACT US </a></p>
                        <p><a href="" class="banner__link"> JOIN OUR TEAM</a></p>
                    </div>
                </div>
                <div class="col-xl-8 col-md-4 col-sm-6">
                    <h2 class="mb-4">SIGN UP FOR UPDATES</h2>
                    <input class="banner__email mr-2 mb-4" type="text" name="email" id="email" placeholder="Email Address">
                    <input class="banner__btn-signup" type="button" value="SIGN UP">
                </div>
            </div>
        </div>
    </main>
</div>
@include('../partials/foot.html')